body{font-family:Ubuntu,sans-serif;font-size:1.1em;color:#666;background:#fff;padding: 10px;}
h1{color:#aaf;border-bottom:5px solid #aaf}
h2{color:#88d;border-bottom:3px dotted #88d}
h3{color:#66b}
h4{color:#449}
h5{color:#227}
h6{color:#005}
p:first-child{margin-top:0}
small{font-size:0.75em}
a{text-decoration:none;color:#66f}
a:hover{color:#333}
img{max-width:100%}
/*table{width:100%}*/
#table_pizza{width:200px;}
table code{background:transparent;padding:0}
tr{border-bottom:1px solid #999}
tr:last-child{border-bottom:5px solid #999}
th,td{font-size:1em;line-height:1.25em;margin:0;padding:0.625em 0.5em;white-space:nowrap}
th{text-align:left;text-transform:uppercase;color:#fff;background:#999}
th a{color:#fff}
pre{background:#efefef;padding:0.75em;border-radius:0.75em}
p code,ul code{padding:0.125em 0.5em;border-radius:0.5em;white-space:nowrap}
blockquote pre,blockquote code{color:#666;background:#fff}
code{background:#eee}
.center{text-align:center}
.right{text-align:right}
.content{width:768px;padding:0 20px;margin:2em auto}
.footer{font-size:0.9em}
.footer p{margin-top:1em}
.error {color:red;}
.message {color:green;}
