<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="<?php echo $ENCODING; ?>" />
		<title>Pizza Parlor</title>
		<base href="<?php echo $SCHEME.'://'.$HOST.':'.$PORT.$BASE.'/'; ?>" />
		<link rel="stylesheet" href="ui/css/base.css" type="text/css" />
		<link rel="stylesheet" href="ui/css/theme.css" type="text/css" />
		<link rel="stylesheet" href="lib/code.css" type="text/css" />
		<script src="ui/js/script.js"></script>
	</head>
	<body>

		<check if="{{ isset(@messages) }}">
			<h3 class="ermessageror">Message(s)</h3>
			<ul class="message">
				<repeat group="{{ @messages }}" value="{{ @message }}">
					<li>{{ @message }} </li>
				</repeat>
			</ul>
			<p>
				<a href="/"> Add another Order </a> <br />
				<a href="/pizza"> Go to list of Pizza </a>
			</p>

		</check>

		<check if="{{ isset(@errors) }}">
			<h3 class="error">Error(s)</h3>
			<ul class="error">
				<repeat group="{{ @errors }}" value="{{ @error }}">
					<li>{{ @error }}</li>
				</repeat>
			</ul>
		</check>

		<include if="{{ isset(@form) }}" href="{{ @form }}" />
		<include if="{{ isset(@pizza_list) }}" href="list_pizza.htm" />
	</body>
</html>
