
<h1> List of orders</h1>

<repeat group="{{ @pizza_list }}" value="{{ @pizza }}" counter="{{ @ctr }}">

    <check if="{{ @ctr != 1 && @pizza_list[@ctr-2]['customer_id'] != @pizza['customer_id'] }}">
        </table>
    </check>

    <check if="{{ @ctr == 1 || @pizza_list[@ctr-2]['customer_id'] != @pizza['customer_id'] }}">
        <true>
            <h4>{{ @pizza[posted] }}</h4>
            <p>
                <strong>{{ @pizza[name] }}</strong><br />
                {{ @pizza[address] }} <br />
                <em>{{ @pizza[phone_number] }}</em>
            </p>
            <table>
                <tr>
                    <th class="center">Pepperoni</th>
                    <th class="center">Mushroom</th>
                    <th class="center">Bacon</th>
                </tr>
        </true>
    </check>
    <tr>
        <td class="center">
            <check if="{{ @pizza[topping_1]==1 }}">
                <true>
                    <img src="/ui/images/check.gif" />
                </true>
            </check>
        </td>
        <td class="center">
            <check if="{{ @pizza[topping_2]==1 }}">
                <true>
                    <img src="/ui/images/check.gif" />
                </true>
            </check>
        </td>
        <td class="center">
            <check if="{{ @pizza[topping_3]==1 }}">
                <true>
                    <img src="/ui/images/check.gif" />
                </true>
            </check>
        </td>
    </tr>
</repeat>

</table>