<div class="form">
	<form method="post" action="{{ @BASE }}/pizza/add">
		<h2>Create a new order</h2>

		<h3>Customer Informations</h3>
		<p>
			<label for="name"><small>Name</small></label><br />
			<input type="text" id="name" name="name" value="{{ isset(@POST.name)?@POST.name:'' }}">
		</p>

		<p>
			<label for="address"><small>Adress</small></label><br />
			<textarea type="text"  id="address" name="address">{{ isset(@POST.address)?@POST.address:'' }}</textarea>
		</p>
		<p>
			<label for="phone_number"><small>Phone Number</small></label><br />
			<input id="phone_number" name="phone_number" value="{{ isset(@POST.phone_number)?@POST.phone_number:'' }}">
		</p>



		<h3>Pizza Details</h3>
		<table id="pizza_table">
			<tr>
				<th></th>
				<th>Pepperoni</th>
				<th>Mushroom</th>
				<th>Bacon</th>
			</tr>
			<check if="{{ array_key_exists('pizza', @POST) }}">
			    <true>
			        <repeat group="{{ @POST.pizza }}" value="{{ @pizza_line }}" counter="{{ @ctr }}">
						<include href="pizza_line.htm" />
					</repeat>
			    </true>
			    <false>
			        <include href="pizza_line.htm" />
			    </false>
			</check>

		</table>

		<p>
		    <input type="button" value="Add Pizza" onclick="addRow()" />
		    <input type="button" value="Remove Pizza" onclick="deleteRow()" />
		</p>
		    
		<p>
		    <input type="submit" value="Summit order" />
		</p>
	</form>
</div>