<tr>
	<td class="center"><input type="hidden"   name="pizza[0][id]"        value="{{ isset(@pizza_line.id)?@pizza_line.id:0 }}"></td>
	<td class="center"><input type="checkbox" name="pizza[0][topping_1]" value="1" {{ isset(@pizza_line.topping_1)?'checked="checked"':0 }}></td>
	<td class="center"><input type="checkbox" name="pizza[0][topping_2]" value="1" {{ isset(@pizza_line.topping_2)?'checked="checked"':0 }}></td>
	<td class="center"><input type="checkbox" name="pizza[0][topping_3]" value="1" {{ isset(@pizza_line.topping_3)?'checked="checked"':0 }}></td>
</tr>